@page
@model IEnumerable<Project.Models.Exercise>
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@User.Identity.Name"></label>
                <input asp-for="@User.Identity.Name" class="form-control" disabled />
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
@foreach (var item in Model.Where(it => it.OwnerID == User.Identity.Name))
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conditions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pictures)
        </td>
        @if (item.OwnerID == User.Identity.Name || User.IsInRole("Admin"))
        {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        }
        else
        {
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        }
    </tr>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}